{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="" method="post">
            {% csrf_token %}
            <h3>¿Estás seguro de eliminar a la persona {{ object.nombre }}?</h3>
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            <a href="{% url 'listar_persona' %}" class="btn btn-dark btn-delete btn-sm">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

{% endblock %}